.accountInfo {
  margin-bottom: 10%;
  &_phone {
    display: flex;
    align-items: center;
    flex: 1 0 auto;
  }
  &_phoneInput {
    flex: 1 0 80%;
    input {
      border-radius: 0 var(--XS, 8px) var(--XS, 8px) 0;
    }
  }
  &_phoneSelect {
    border-radius: 0;
    :global {
      .MuiOutlinedInput-root {
        border-radius: var(--XS, 8px) 0 0 var(--XS, 8px);
        margin: 0;
      }
    }
  }
  &_valid {
    input {
      border: 1px solid green !important;
    }
    :global {
      .MuiOutlinedInput-root {
        border: 1px solid green !important;
      }
    }
  }
  &_inputWrap {
    display: flex;
    align-items: flex-end;
    gap: 5px;
  }
  &_inpuBtn {
    flex: 1 0 auto;
  }
  &_inpuCodeSender {
    margin-bottom: 7px;
    padding: 14px 15px;
  }
}
