@import '../../../styles/respond.scss';
.cognitiveForm {
  margin-bottom: 20px;
  &_contentWrraper {
    padding: 28px 12px 10px;
    background-color: var(--Border-Regular);
  }
  &_alertTxt {
    display: flex;
    align-items: center;
    gap: 17px;
    color: var(--Key-Primary-Container);
    fill: var(--Key-Primary-Container);
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 58px;
    &__icon {
      @include respond-to('sm') {
        flex: 1 0 auto;
      }
    }
    @include respond-to('md') {
      font-size: 15px;
      margin-bottom: 15px;
      gap: 10px;
    }
    @include respond-to('sm') {
      font-size: 12px;
    }
  }
  &_range {
    accent-color: var(--Border-Text-Feild-B);
  }
  &_btn {
    // position: sticky;
    // bottom: 0;
    background-color: #fff;
    padding: 10px;
    box-shadow: 4px 4px 8px rgba(160, 160, 160, 0.25);
    // &::before {
    //   content: '';
    //   position: absolute;
    //   top: 0;
    //   right: 100%;
    //   bottom: 0;
    //   width: 50vw;
    //   background-color: #fff;
    //   display: block;
    //   height: 100%;
    // }
    // &::after {
    //   content: '';
    //   position: absolute;
    //   top: 0;
    //   left: 100%;
    //   bottom: 0;
    //   height: 100%;
    //   width: 50vw;
    //   background-color: #fff;
    //   display: block;
    // }
  }
  // @include respond-to('sm'){
  //   width: 100%;
  // }
}
