@import '../../../styles/respond.scss';
.cognitiveForm {
  margin-bottom: 20px;
  &_contentWrraper {
    padding: 28px 12px 0;
    background-color: var(--Border-Regular);
  }
  &_alertTxt {
    display: flex;
    align-items: center;
    gap: 17px;
    color: var(--Key-Primary-Container);
    fill: var(--Key-Primary-Container);
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 58px;
    &__icon {
      flex: 1 0 auto;
    }
    @include respond-to('md') {
      font-size: 15px;
      margin-bottom: 15px;
      gap: 10px;
    }
    @include respond-to('sm') {
      font-size: 12px;
    }
  }
  &_range {
    accent-color: var(--Border-Text-Feild-B);
  }
}
