@import '../../../styles/respond.scss';

.input {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 5px;
  &_wrapperInput {
    position: relative;
    width: 100%;
    margin-bottom: 5px;
  }
  &_field {
    width: 100%;
    height: 60px;
    outline: none;
    border: none;
    padding: 0 16px 0 20px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    border-radius: var(--XS, 8px);
    border: 1px solid var(--Border-Dark, #cbcdd2);
    background: var(--white);
    transition: 0.3s;
    &:focus {
      border: 1px solid #bedffa;
    }
  }
  &_textArea {
    min-height: 150px;
  }
  &_fieldHasVal {
    border: 1px solid var(--Border-Text-Feild-B);
    background: var(--BackGround-Text-Fields);
  }
  &_label {
    display: block;
    margin-bottom: 13px;
    &__req {
      margin-right: 5px;
      opacity: 0.5;
    }
  }
  &_passIcon {
    cursor: pointer;
    fill: #87898c;
    position: absolute;
    bottom: 7px;
    left: 16px;
    transform: translate(0, -50%);
  }
  &_topDesc {
    display: block;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    color: var(--Body-Text-Regular, #7c818f);
    margin-bottom: 10px;
    margin-right: 16px;
  }
  &_err {
    position: relative;
    // bottom: -30px;
    // right: 0;
    width: 100%;
    padding: 5px 10px;
    margin-top: 5px;
    background-color: var(--primary-red);
    border-radius: var(--border-radius);
    color: #fff;
    font-weight: 600;
    font-size: 12px;
    z-index: 3;
  }
}
