@import '@/styles/respond.scss';
.trainingMain {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  padding: 48px 52px;
  &__alert {
    &__data {
      font-size: 20px;
      line-height: 36px;
      &__line {
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }
    &__links {
      &__line {
        display: flex;
        align-items: center;
        gap: 80px;
        margin-bottom: 12px;
        &__classInfo {
          display: flex;
          align-items: center;
          gap: 8px;
          font-size: 14px;
          line-height: 32px;
        }
        &__moreInfo {
          font-size: 12px;
        }
      }
      &__buttons {
        display: flex;
        align-items: center;
        gap: 16px;
        button {
          font-size: 12px;
          line-height: 22px;
          padding: 0;
          height: 40px;
          width: 147px;
        }
      }
    }
  }
  &__icon {
    width: 24px;
    height: 24px;
  }
  @include respond-to(xs) {
    gap: 16px;
    padding: 32px 40px;
    &__alert {
      &__data {
        font-size: 12px;
        line-height: 22px;
        &__line {
          gap: 4px;
        }
      }

      &__links {
        &__line {
          gap: 16px;
          margin-bottom: 12px;
          &__classInfo {
            gap: 8px;
            font-size: 10px;
            line-height: 20px;
          }
          &__moreInfo {
            font-size: 10px;
          }
        }
        &__buttons {
          gap: 8px;
          button {
            font-size: 10px;
            line-height: 22px;
            padding: 0;
            height: 32px;
            width: 76px;
          }
        }
      }
    }
    &__icon {
      width: 16px;
      height: 16px;
    }
  }
}
