@import '@/styles/respond.scss';
.alert {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  background-color: #fff5e4;
  border-radius: 8px;
  padding: 32px 24px;
  &__contents {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
    margin-bottom: 8px;
  }
  &__image {
    width: 265px;
    height: 265px;
  }
  @include respond-to(xs) {
    flex-wrap: wrap;
  }
}
