.changePass {
  &_form {
    width: 100%;
  }
  &_input {
    margin-bottom: auto;
  }
  &_mb16 {
    margin-bottom: 16px;
  }
  &_submit {
    display: flex;
    width: 100%;
    font-family: var(--font-family);
    color: #fff;
    opacity: 1;
    justify-content: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-top: 28px;
    margin-bottom: 9px;
    padding: 14px 0;
    transition: 0.3s;
    &:hover {
      opacity: 0.7;
    }
    &__small {
      max-width: 155px;
      padding: 12px 16px;
      font-size: 14px;
      margin: 0;
    }
  }
  &_finalSubmitText {
    display: block;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    color: var(--Body-Text-Regular, #7c818f);
    margin-bottom: 250px;
  }
  &_disableBtn {
    pointer-events: none;
    opacity: 0.6;
  }
  &_info {
    width: 100%;
    margin-bottom: 13px;
  }
  &_infoTitle {
    display: block;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    color: var(--Body-Text-Darkest, #0c0d0e);
    margin-bottom: 8px;
  }
  &_finalsubmit {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
