.training {
  display: flex;
  min-height: 100vh;
  border: 2px solid black;
  padding: 0;

  aside {
    min-width: 96px;
    padding: 48px 32px;
    border-left: 2px solid #cbcdd2;
  }
  &__openDashboard {
    width: 452px;
  }
  // @include respond-to('xs') {
  // }
}
