.forgetPass {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 666px;
  margin: auto;
  height: 100vh;
  &_logo {
    margin-bottom: 49px;
  }
  &_title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 36px;
  }
  &_titlePage {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 42px;
    color: var(--Body-Text-Darkest, #0c0d0e);
  }
  &_backLink {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    color: var(--Body-Text-Regular, #7c818f);
  }
}
